/* SEZIONE BEFORE-AFTER */
#before-after {
  background-color: $secondary_color;
  text-align: center;

  .row {
    @include flex_between;
    flex-wrap: wrap;

    &:first-child {
      border-bottom: 1px solid $color_font_page;
      margin-bottom: 120px;
    }

    h3 {
      width: 100%;
      padding: 0 200px;
    }
    .col {
      @include section_col;

      img {
        @include section_col_img;
      }
    }
    .col-rabbit {
      width: 100%;
      padding: 130px 0;

      img {
        width: 300px;
      }
    }
  }
}
