/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
.wrapper {
  font-size: $font_size_medium;
  font-family: $font_page;
  color: $color_font_page;
}

.container {
  width: 80%;
  margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: $line_height_text_page;
}

ul {
  list-style-type: none;
}

.text-small {
  font-size: $font_size_small;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

/* MEDIA QUERY */
@media screen and (max-width: 900px) {
  /* NAVBAR */
  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  /* SECTION */
  section {
    text-align: center;
  }

  /* JUMBOTRON */
  #jumbotron {
    .container {
      flex-direction: column;

      .background {
        height: 300px;
      }
    }
  }

  /* BEFORE-AFTER */
  #before-after {
    .row {
      flex-direction: column;
      align-items: center;

      .col {
        margin: 50px 0;
      }
    }
  }

  /* SOLUTIONS */
  #solutions {

    .row {
      display: flex;
      flex-direction: column;

      .screen {

        img {
          width: 100%;
        }
      }

      .title {
        width: 100%;

        img {
          padding: 40px 0;
          width: 60%;
        }
      }
    }
  }

  /* FOOTER */
  footer {
    .container {
      flex-wrap: wrap;
    }

    .col{
      flex-basis: calc(100% / 3);

      &:first-child {
        flex-basis: 100%;
        margin-bottom: 30px;
      }

    }
  }
}
