/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
.wrapper {
  font-size: $font_size_medium;
  font-family: $font_page;
  color: $color_font_page;
}

.container {
  width: 80%;
  margin: auto;
}

ul {
  list-style-type: none;
}

.text-small {
  font-size: $font_size_small;
}
