/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
.wrapper {
  font-family: $font_page;
  color: $color_page;
}

.container {
  width: 80%;
  margin: auto;
}
