/* ________ FOOTER ________ */
footer {
  background-color: $primary_color;
  padding: $padding_section;

  .container {
    display: flex;
  }

  .col{
    font-weight: bold;
    padding-right: 30px;

    &:first-child {
      display: flex;
      padding-right: 40px;

      img {
        width: 100px;
        margin-right: 20px;
        align-self: flex-start;
      }
    }


    p {
      span {
        color: $btn_color;
      }
    }

    li {
      font-size: $font_size_small;
      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
        color: $btn_color;
      }
    }
  }
}
