/* ________ HEADER ________ */
header {
  background-color: yellow; // TODO: modificare o cancellare
}
/* NAVBAR */
nav {
  background-color: greenyellow; // TODO: modificare o cancellare
  height: 70px;
}
