/* ________ HEADER ________ */
header {

  /* NAVBAR */
  nav {
    @include flex_between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid $color_font_page;
    font-size: $font_size_small;

    /* Menu */
    .list-menu {
      li {
        display: inline-block;
        margin-left: 30px;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          color: $btn_color;
        }
      }

      .drop-solutions {
        position: relative;

        i {
          font-size: 20px;
          vertical-align: middle;
        }
      }
      .btn-nav {
        @include general_btn;
        color: $btn_color;

        &:hover {
          background-color: $btn_color;
          color: $primary_color;
        }

        img {
          @include general_btn_img;
        }
      }
    }

    /* burger menu */
    .burger-menu {
      i {
        font-size: 30px;
      }
    }

    /* DROPDOWN */
    .dropdown {  // TODO: mostrare dropbox con javascript
      position: absolute;
      right: 0;
      background-color: $primary_color;
      border: 1px solid lightgray;
      padding: 10px 0;
      display: none;

      &.visible {
        display: block;
      }

      li {
        padding: 10px 15px;
        margin: 0;

        &:hover {
          color: $btn_color;
        }
      }
    }

  }

}
