/* SEZIONE JUMBOTRON */
#jumbotron {
  background-color: $primary_color;

  .container {
    display: flex;
    justify-content: space-between;
  }

  // Title
  .title {
    width: 100%;

    .sign-with {
      padding: 55px 0 0;
    }

    .btn {
      @include general_btn;
      background-color: $btn_color;
      color: $primary_color;

      &:hover {
        background-color: $primary_color;
        color: $btn_color;
      }

      img {
        @include general_btn_img;
      }
    }
  }

  // Background
  .background {
    width: 100%;
    background-image: url('../dist/img/illustration-main.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
