/* ________ MAIN ________ */
/* SECTION */
section {
  height: 300px;  // TODO: modificare o cancellare
}

/* SEZIONE JUMBOTRON */
.jumbotron {
  background-color: coral; // TODO: modificare o cancellare
}
/* SEZIONE SOLUTIONS */
.solutions {
  background-color: brown; // TODO: modificare o cancellare
}
/* SEZIONE TUTORIALS */
.tutorials {
  background-color: darkcyan; // TODO: modificare o cancellare
}
/* SEZIONE TEAMBIT */
.teambit {
  background-color: olive; // TODO: modificare o cancellare
}
