/* ________ MAIN ________ */
/* SECTION */
section {
  padding: $padding_section;
}

.title {

  h2 {
    font-size: 45px;
    line-height: 1.5;
  }
  p {
    padding: 50px 0 40px;
  }
  a {
    color: $color_font_page;
    text-decoration: none;
    display: block;

    &:hover {
      color: $btn_color;
      text-decoration: underline;
    }
  }

  .sign-with {
    padding: 55px 0 30px;
  }

  .btn {
    @include general_btn;
    background-color: $btn_color;
    color: $primary_color;

    &:hover {
      background-color: $primary_color;
      color: $btn_color;
    }

    img {
      @include general_btn_img;
    }
  }
}
