// stili bottoni
@mixin general_btn {
  border: 1px solid $btn_color;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: $font_size_small;
  font-weight: bold;
  transition: 0.3s ease;
  display: inline-block;
  cursor: pointer;
}

@mixin general_btn_img {
  width: 18px;
  vertical-align: text-bottom;
  margin-right: 5px;
}

// stili colonne
@mixin section_col {
  font-size: $font_size_small;
  width: calc(100% / 3);
  height: 180px;
  padding-top: 40px;
}

@mixin section_col_img {
  height: 100%;
  padding-bottom: 30px;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
}

@mixin flex_column {
  display: flex;
  flex-direction: column;
}
