/* SEZIONE SOLUTIONS */
#solutions {
  background-color: $primary_color;

  @media screen and (min-width: 901px) {
    .row {
      display: flex;

      &.surveys,
      &.praise {
        flex-direction: row-reverse;
      }

      .screen {

        img {
          height: 380px;
        }
      }

      .title {
        width: 25%;

        img {
          padding: 40px 0;
          width: 100%;
        }
      }
    }
  }
}
