// font della pagina
$font_page: 'Roboto', sans-serif;
$font_size_medium: 22px;
$font_size_small: 14px;
$color_font_page: #5d422f;
$line_height_text_page: 1.5;

// colore bottoni
$btn_color: #1a4892;

$primary_color: white;
$secondary_color: #ffe6cf;
